//typography css - HOMYFOOD //
h1 {
    font-family: $font-logo;
    font-size: $font-size-xl;
}
h2 {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
}
h3 {
    font-size: $font-size-md;
}
logo {
    font-family: $font-logo;
}